---
- name: Setup Spring Boot Environment
  hosts: all
  become: yes

  tasks:
    - name: install java
      apt:
        name: java-17-amazon-corretto
        state: present
        update_cache: yes

    # 1. Create the 'deploy' group
    - name: Ensure group "deploy" exists
      group:
        name: deploy
        state: present

    # 2. Create the 'deploy' user and add to 'deploy' and 'sudo' groups
    - name: Create deploy user
      user:
        name: deploy
        group: deploy
        groups: sudo
        append: yes
        shell: /bin/bash
        state: present

    # 3. Give 'deploy' user administrative (sudo) privileges without password
    - name: Allow 'deploy' user to have passwordless sudo
      lineinfile:
        path: /etc/sudoers.d/deploy
        line: 'deploy ALL=(ALL) NOPASSWD:ALL'
        state: present
        create: yes
        mode: '0440'
        validate: '/usr/sbin/visudo -cf %s'

    # 4. Create directory and set ownership to deploy:deploy
    - name: Create app directory and set ownership
      file:
        path: /opt/schedemy
        state: directory
        owner: deploy
        group: deploy
        mode: '0755'

    - name: Copy JAR file
      copy:
        src: "../target/app.jar"
        dest: "/opt/schedemy/app.jar"
        owner: deploy
        group: deploy
        mode: '0500' # Read/Execute only for owner (more secure)

    # 5. Setup Systemd Service to run as 'deploy' user
    - name: Create Systemd Service
      copy:
        dest: /etc/systemd/system/schedemy.service
        content: |
          [Unit]
          Description=Schedemy Spring Boot App
          After=network.target

          [Service]
          User=deploy
          Group=deploy
          WorkingDirectory=/opt/schedemy
          ExecStart=/usr/bin/java -jar /opt/schedemy/app.jar
          SuccessExitStatus=143
          Restart=always

          [Install]
          WantedBy=multi-user.target

    - name: Enable and Start Service
      systemd:
        name: schedemy
        enabled: yes
