- hosts: all
  become: yes
  vars:
    app_dir: /opt/schedemy
    app_user: deploy
    app_group: deploy
    
  tasks:
    - name: Install Java
      dnf:
        name: java-17-amazon-corretto
        state: present

    - name: Create app user
      user:
        name: "{{ app_user }}"
        system: yes
        shell: /sbin/nologin

    - name: Create app directory
      file:
        path: "{{ app_dir }}"
        state: directory
        owner: "{{ app_user }}"
        group: "{{ app_user }}"

    - name: Download JAR from S3
      amazon.aws.aws_s3:
        bucket: "{{ jar_s3_bucket }}"
        object: "{{ jar_s3_key }}"
        dest: "{{ app_dir }}/app.jar"
        mode: get

    - name: Install systemd service
      copy:
        dest: /etc/systemd/system/schedemy.service
        content: |
          [Unit]
          Description=Schedemy Spring Boot App
          After=network.target

          [Service]
          User={{ app_user }}
          Group={{ app_group }}
          ExecStart=/usr/bin/java -jar {{ app_dir }}/app.jar
          SuccessExitStatus=143
          RestartSec=10
          Restart=always

          [Install]
          WantedBy=multi-user.target

    - name: Enable service (do not start)
      systemd:
        name: schedemy
        enabled: yes
