# .ansible/playbooks/playbook0.yml
---
- name: Install Java and Setup Spring Boot
  hosts: all
  become: yes 

  tasks:
    - name: Install Amazon Corretto 17 (Java)
      apt:
        name: java-17-amazon-corretto-devel
        state: present
        

    - name: Create app user
      user:
        name: deploy
        shell: /bin/bash
        create_home: yes

    - name: Create app directory
      file:
        path: /opt/schedemy
        state: directory
        owner: deploy
        group: deploy
        mode: '0750'

    - name: Copy JAR file
      copy:
        src: "{{ project_root }}/target/app.jar"
        dest: "/opt/schedemy/app.jar"
        owner: deploy
        group: deploy
        mode: '0640'


    - name: Create Systemd Service
      copy:
        dest: /etc/systemd/system/schedemy.service
        content: |
          [Unit]
          Description=Schedemy Spring Boot App
          After=network.target

          [Service]
          User=deploy
          ExecStart=/usr/bin/java -jar /opt/schedemy/app.jar
          SuccessExitStatus=143
          Restart=on-failure
          RestartSec=10

          [Install]
          WantedBy=multi-user.target


    - name: Reload systemd
      systemd:
        daemon_reload: yes


    - name: Enable and Start Service
      systemd:
        name: schedemy
        enabled: yes
        state: started
