
[Unit]
Description=Schedemy - HTU University Course Scheduling System
After=network.target cloud-final.service


[Service]
Type=simple


User=deploy
Group=deploy

# Working directory
WorkingDirectory=/opt/schedemy

# Environment variables
Environment="JAVA_HOME=/usr/lib/jvm/java-17-amazon-corretto"


# The actual command to run
ExecStart=/usr/bin/java \
    -Xms512m \
    -Xmx1024m \
    -XX:+UseG1GC \
    -XX:+HeapDumpOnOutOfMemoryError \
    -XX:HeapDumpPath=/opt/schedemy/logs/heap_dump.hprof \
    -Dserver.port=8080 \
    -Dlogging.file.path=/opt/schedemy/logs \
    -jar /opt/schedemy/EduSched-0.0.1-SNAPSHOT.jar


Restart=on-failure
RestartSec=10
TimeoutStopSec=30


# Success exit status (consider non-zero exit as failure)
SuccessExitStatus=0 143


# Standard output and error
StandardOutput=append:/opt/schedemy/logs/application.log
StandardError=append:/opt/schedemy/logs/error.log



[Install]
WantedBy=multi-user.target
